* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-size: x-large;
}
header
{
    display: flex;
    background-color: #16bd93;
    color:rgb(246, 246, 246) ;
    text-align: center;
    padding: 20px;
}
.divtitulo{
    flex: 80%;

}
nav{
    background-color: #079870;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
nav a{
    color: rgb(240, 245, 247);
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(30, 255, 0);
    color: rgb(219, 197, 240);
}
main{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex: 30px;
    background-color: #0faa82;
    padding: 20px;
    color: whitesmoke;
    text-align: center;

}
section{
    flex: 70%;
    background-color: #1dcfa4;
    padding: 10px;
    text-align: center;
}
article{
    margin-bottom: 15px;
    padding: 10px;
}
article p{
    text-align: justify;;
}
footer{
    background-color: aquamarine;
    text-align: center;

}

/*SECCION TARJETAS*/

.posicion-tarjeta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.tarjeta{
    border: 1px solid rgb(0, 255, 234);
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgb(0, 255, 149) 3px 3px 20px;
}
.cuerpo-tarjeta{
    padding: 15px;
}
.tarjeta img{
    width: 200px;
    height: 230px;
    padding: 15px;
}
.titulo-tarjeta{
    text-align: center;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(81, 255, 0);
    background-color: aquamarine;
    font-size: 20px;
    color: grey;
}
.tarjeta div{
    padding: 15px; 
}
.Descripcion{
    text-align: justify;
}
.Precio{
    text-align: center;
}
.tarjeta button{
    
    padding: 10px;
    background-color: aquamarine;
    color: grey;
    font-size: 15px;
    border: 1px solid cornflowerblue;
}
.tarjeta button:hover{
    background-color: black;
    color: aqua;
}
.end{
    float: right;
    justify-content: flex-end;
    
}
.contactanos{
    text-align: center;
}
.nav4{
    display: flex;
    background-color: rgb(53, 187, 187);
}
.contenedor2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articulotabla{
    width: 100%;
    overflow: hidden;
}
.article table{
    width: 50%;
    float: left;
} 
.article img{
    float:right;
    width: 50%; 
}
article img, article table {
    
    margin: 10px;
}



@media screen and (max-width:1024px)
{
    /*para tamaño tableta*/
    .tarjeta
    {
        width: 218px;
    }
    .tarjeta img
    {
    width: 150px;
    height: 180px;
    }
    header
    {
        flex-flow: column;
    }
}
@media screen and (max-width:767px)
    /*para tamaño celular*/
{
    .tarjeta
    {
        width: 290px;
    }
    .tarjeta img
    {
    width: 150px;
    height: 180px;
    }
    nav
    {
        flex-flow: column;
    }
}