.posicion-tarjeta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-size: large;
}
header{
    display: flex;
    background-color: #16bd93;
    color:rgb(246, 246, 246) ;
    text-align: center;
    padding: 20px;
}
.divtitulo{
    flex: 30%;
}
nav{
    background-color: #079870;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
nav a{
    color: rgb(240, 245, 247);
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(30, 255, 0);
    color: rgb(219, 197, 240);
}
main{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex: 30px;
    background-color: #0faa82;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    text-align: justify;

}
section{
    flex: 70%;
    background-color: #1dcfa4;
}
article{
    margin-bottom: 10px;
    padding: 5px;
}
article p{
    text-align: justify;;
}
footer{
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
}
@media screen and (max-width:700px){
    nav{
        flex-flow: column;
    }
}
h2{
    text-align: center;
}
.tarjeta{
    padding-bottom: 24px;
    border: 1px solid rgb(0, 255, 234);
    width: 300px;
    border-radius: 5px;
    box-shadow: rgb(0, 255, 149) 3px 3px 20px;
    margin: 25px;
}
.tarjeta img{
    padding: 15px; 
    padding-top: 10px;
    width: 120px;
    height: 150px;
}
.titulo-tarjeta{
    text-align: center;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(81, 255, 0);
    background-color: aquamarine;
    font-size: 20px;
    color: grey;
}
.tarjeta div{
    padding: 15px; 
}
.Descripcion{
    text-align: justify;
}
.Precio{
    text-align: center;
}
.tarjeta button{
    
    padding: 10px;
    background-color: aquamarine;
    color: grey;
    font-size: 25px;
    border: 1px solid cornflowerblue;
}
.articulo-tarjetas{
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.end{
    float: right;
    justify-content: flex-end;
    
}
.contactanos{
    text-align: center;
}
.nav4{
    display: flex;
    background-color: rgb(53, 187, 187);
}
.conta{
    display: flex;
}
.tabla{
    flex: 1;
    margin-right: 260px;
} 
.image1{
    flex: 1;
    margin-left: 260px;
}
